<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong> Cargando </strong>
            <br>
            <i class=" fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span> Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header bg-dark text-white">
                Perfiles Politicos Registrados ( <small> {{ totalRegistros }} </small> )
                <span class="pull-right"><button (click)="showModalCreate()" class="btn btn-rounded btn-outline-success"><i class="fa fa-plus"> </i> Crear </button></span>
            </h5>

            <div class="card-body text-black">
                <div class="row">
                    <div class="col-7">
                        Mostrando [ <small> 5 </small> ] registros
                    </div>
                    <div class="col-5">
                        <span class="pull-right"><input #input (keyup)="buscarPerfil( input.value )" type="text" class="form-control" placeholder="Buscar Perfil...." autofocus></span>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="250px"> Nombre </th>
                            <th> Descripcion </th>
                            <th width="150px"> Acciones </th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        <tr *ngFor="let perfil of perfiles">
                            <td> {{ perfil.name }} </td>
                            <td> {{ perfil.summary }} </td>
                            <td>
                                <button (click)="showModalUpdate( perfil )" class="btn btn-outline-primary"> <i class="fa fa-pencil-square-o"></i></button>
                                <button (click)="borrarPerfil( perfil )" class="btn btn-outline-danger"> <i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-12">
                    <span class="pull-right">
                          <button (click)="cambiarDesde(-5)" class="btn btn-outline-inverse"><i class="fa fa-arrow-left"> </i> Anteriores </button>
                          <button (click)="cambiarDesde(5)" class="btn btn-outline-inverse"> Siguientes <i class="fa fa-arrow-right"> </i></button>
                  </span>
                </div>



            </div>
        </div>
    </div>
</div>

<!-- Modal para Crear Perfil Politico-->
<div class="fondo-negro animated fadeIn" [ngClass]="modalCreate">
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-plus"> </i> Crear Perfil Politico</h5>
                    <button (click)="hideModalCreate()" type="button" class="close" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form autocomplete="off" ngNativeValidate [formGroup]="form" (ngSubmit)="crearPerfil()" class="form-horizontal form-material">

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-12"> <b> Nombre del Perfil: </b></label>
                            <div class="col-md-12">
                                <input formControlName="name" name="name" type="text" class="form-control form-control-line" placeholder="Ej: Presidente" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12"> <b> Extracto: </b></label>
                            <div class="col-md-12">
                                <input formControlName="summary" name="summary" type="text" class="form-control form-control-line" placeholder="Ej: Descripción del perfil" required>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success"><i class="fa fa-save"> </i> Guardar</button>
                        <button (click)="hideModalCreate()" type="button" class="btn btn-outline-inverse">Cerrar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

<div class="fondo-negro animated fadeIn" [ngClass]="modalUpdate">
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-plus"> </i> Actualizar Perfil Politico</h5>
                    <button (click)="hideModalUpdate()" type="button" class="close" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form autocomplete="off" ngNativeValidate #f="ngForm" (ngSubmit)="actualizarPerfil( f.value )" class="form-horizontal form-material">

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-12"> <b> Nombre del Perfil: </b></label>
                            <div class="col-md-12">
                                <input [ngModel]="perfil.name" name="name" type="text" class="form-control form-control-line" placeholder="Ej: Presidente" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12"> <b> Extracto: </b></label>
                            <div class="col-md-12">
                                <input [ngModel]="perfil.summary" name="summary" type="text" class="form-control form-control-line" placeholder="Ej: Descripción del perfil" required>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success"><i class="fa fa-save"> </i> Guardar</button>
                        <button (click)="hideModalUpdate()" type="button" class="btn btn-outline-inverse">Cerrar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>