<body>
    <form class="login">
        <h1 class="login-title">Registro</h1>
        <input type="text" class="login-input" name="fullname" placeholder="Full Name" autofocus>
        <input type="text" class="login-input" name="email" placeholder="Email Adress">
        <input type="password" class="login-input" name="password" placeholder="Password">
        <input type="submit" value="Registrar" class="login-button">
        <p class="login-lost">Tienes una cuenta? <a href="login">Ingresa ahora</a></p>
    </form>
</body>