<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><img [src]="usuario.img | imagen" alt="user"><span class="hide-menu">{{ usuario.name }}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a routerLinkActive="active" routerLink="/dashboard"> <i class="mdi mdi-gauge"></i> Dashboard </a>
                        </li>
                        <li>
                            <a routerLinkActive="active" routerLink="/perfil"> <i class="ti-user"></i> Perfil </a>
                        </li>
                        <li>
                            <a (click)="_usuarioService.logout()" class="pointer"> <i class="fa fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </li>


                <li class="nav-devider"></li>
                <li *ngFor="let menu of _sidebar.menu">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"> <i [class]="menu.icono"></i><span class="hide-menu"> {{ menu.titulo }}<span class="label label-rouded label-themecolor pull-right"> {{ menu.submenu.length }} </span></span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu">
                            <a routerLinkActive="active" [routerLink]="[ submenu.url ]"><i [class]="submenu.icono"></i> {{ submenu.titulo }}</a>
                        </li>
                    </ul>
                </li>

                <!-- <li class="nav-devider"></li>
                <li *ngFor="let menu of _sidebar.menu">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"> <i [class]="menu.icono"></i><span class="hide-menu"> {{ menu.titulo }}<span class="label label-rouded label-themecolor pull-right"> {{ menu.submenu.length }} </span></span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu">
                            <a routerLinkActive="active" [routerLink]="[ submenu.url ]"><i [class]="submenu.icono"></i> {{ submenu.titulo }}</a>
                        </li>

                    </ul>
                </li> -->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->