<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"> <i class="mdi mdi-account"></i><span class="hide-menu">Profile</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">My Profile</a></li>
                        <li><a routerLink="/login">Logout</a></li>
                    </ul>
                </li>

                <li *ngFor="let menu of _sidebar.menu">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"> <i [class]="menu.icono"></i><span class="hide-menu"> {{ menu.titulo }}<span class="label label-rouded label-themecolor pull-right"> {{ menu.submenu.length }} </span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu">
                            <a routerLinkActive="active" [routerLink]="[ submenu.url ]"><i [class]="submenu.icono"></i> {{ submenu.titulo }}</a>
                        </li>
                        <!-- <li> <a routerLinkActive="active" routerLink="/dashboard"><i class="mdi mdi-gauge"></i> Dashboard</a></li>
                        <li> <a routerLinkActive="active" routerLink="/progress"><i class="mdi mdi-chart-gantt"></i> ProgressBar</a></li>
                        <li> <a routerLinkActive="active" routerLink="/graph"><i class="mdi mdi-chart-bar"></i> Graficas </a></li> -->

                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->