<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>404</h1>
            <h3 class="text-uppercase">Página no Encontrada !</h3>
            <p class="text-muted m-t-30 m-b-30">Al parecer esta buscando su camino a casa...</p>
            <a routerLink="/login" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Regresar al Inicio</a>
        </div>
        <footer class="footer text-center">© {{ anio }} Kai-Soft.</footer>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->