<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Temas </h3>
                <hr>

                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">

                        <li><b>Con el sideBar claro</b></li>
                        <li>
                            <a data-theme="default" class="selector default-theme"></a>
                        </li>
                        <li>
                            <a data-theme="green" class="selector green-theme"></a>
                        </li>
                        <li>
                            <a data-theme="red" class="selector red-theme"></a>
                        </li>
                        <li>
                            <a data-theme="blue" class="selector blue-theme"></a>
                        </li>
                    </ul>

                    <ul id="themecolors" class="m-t-20">

                        <li><b>Con el sideBar oscuro</b></li>
                        <li>
                            <a data-theme="default-dark" class="selector default-dark-theme"></a>
                        </li>
                        <li>
                            <a data-theme="green-dark" class="selector green-dark-theme"></a>
                        </li>
                        <li>
                            <a data-theme="red-dark" class="selector red-dark-theme"></a>
                        </li>
                        <li>
                            <a data-theme="blue-dark" class="selector blue-dark-theme"></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>