<div class="row animated fadeIn">

    <div class="col-md-12 col-sm-12">
        <div class="card">
            <h5 class="card-header bg-dark text-white"> Control de Participación</h5>
            <div class="card-body text-black">

                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label class="col-md-12 col-sm-12"><b> Resultados por Perfil: </b></label>
                                <div class="col-md-12 col-sm-12">
                                    <select (change)="cambioPerfil( $event.target.value )" name="profile" class="form-control form-control-line" required>
                                        <option value=""> Seleccione Perfil Politico</option>
                                        <option *ngFor="let perfil of perfiles" [value]="perfil._id">
                                            {{ perfil.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div *ngIf="validator" class="form-group col-md-6 col-sm-12">
                                <label class="col-md-12 col-sm-12"><b> Resultados por Centro de Votación: </b></label>
                                <div class="col-md-12 col-sm-12">
                                    <select (change)="obtenerVotosCentro( $event.target.value )" [ngModel]="centro.name" name="center" class="form-control form-control-line" required>
                                        <option value=""> Seleccione Centro</option>
                                        <option *ngFor="let centro of centros" [value]="centro._id">
                                            {{ centro.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div *ngIf="validator" style="display: block">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                                </canvas>
                        </div>

                        <div *ngIf="!validator">
                            <h4 align="center"> DASHBOARD ADMINISTRATIVO ELECTIONS-API</h4>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

</div>